<div class="ui main-container container">
  <div class="ui stackable grid">
    <div class="header-container row">
      <div class="sixteen wide column">
        <h1 id="top-header" class="ui header">Rails Sandbox</h1>
        <p>Because conventions are hard to remember...</p>
      </div>
    </div>

    <!-- Input -->

    <div class="row">
      <div class="sixteen wide column">
        <h3 class="ui header">Resource</h3>
        <form class="ui form">
          <div class="fields">
            <div class="two wide field name">
              <label>Name</label>
              <input class="form-field" type="text" name="name" value="User", placeholder="User">
            </div>
            <div class="two wide field namespace">
              <label>Namespace</label>
              <input class="form-field" type="text" name="namespace" value="Admin">
            </div>
            <div class="six wide field crud">
              <label>CRUD</label>
              <select multiple="" class="ui fluid dropdown form-field" id="crud">
                <option selected class="crud" value="create">Create</option>
                <option selected class="crud" value="read">Read</option>
                <option selected class="crud" value="update">Update</option>
                <option selected class="crud" value="delete">Delete</option>
              </select>
            </div>
            <div class="two wide field attributes">
              <label>Attributes</label>
              <div class="ui fluid bottom aligned attribute-button button">
                Select <i class="dropdown icon"></i>
              </div>
              <div id="attributes-popup" class="ui fluid popup top left transition hidden">
                <div class="ui middle aligned grid attribute-grid">
                  <div class="row attribute-row">
                    <div class="two wide column">
                      <i class="attribute-icon delete icon"></i>
                    </div>
                    <div class="seven wide column field">
                      <input class="form-field attribute" type="text" name="attribute-name" placeholder="Attribute" value="Name">
                    </div>
                    <div class="six wide column field">
                      <%= select_tag "type", options_for_select(Resource::VALID_ATTRIBUTE_TYPES, "string"), prompt: "Select type", class: "ui fluid dropdown form-field" %>
                    </div>
                  </div>
                  <div class="row attribute-row">
                    <div class="two wide column">
                      <i class="attribute-icon delete icon"></i>
                    </div>
                    <div class="seven wide column field">
                      <input class="form-field attribute" name="attribute-name" type="text" placeholder="Attribute" value="Email">
                    </div>
                    <div class="six wide column field">
                      <%= select_tag "type", options_for_select(Resource::VALID_ATTRIBUTE_TYPES, "string"), prompt: "Select type", class: "ui fluid dropdown form-field" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="two wide column">
                    </div>
                    <div class="seven wide column field disabled-attribute">
                      <input type="text" placeholder="Add Attribute" disabled="" class="disabled-attribute">
                    </div>
                    <div class="six wide column field">
                      <%= select_tag "type", options_for_select(Resource::VALID_ATTRIBUTE_TYPES), prompt: "Select type", class: "ui fluid dropdown form-field disabled-attribute", disabled: "" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="one wide field singular">
              <label>Singular?</label>
              <div class="ui toggle checkbox checkbox-container">
                <input class="singular-checkbox form-field" type="checkbox" name="singular">
                <label></label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Code Snippets -->

    <div class="row">
      <div class="thirteen wide column">
        <div class="ui top attached tabular menu tab-menu">
          <a class="active item code-tab" data-tab="controller">Controller</a>
          <a class="item code-tab" data-tab="model">Model</a>
          <a class="item code-tab" data-tab="views">Views</a>
          <a class="item code-tab" data-tab="routes">Routes</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="controller">
          <div id="controller" class="ui grid"></div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="model">
          <div id="model" class="ui grid"></div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="views">
          <div id="views" class="ui grid"></div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="routes">
          <div id="routes" class="ui grid"></div>
        </div>
      </div>
    </div>
  </div>
</div>
