<div class="ui segment sixteen wide column code-segment">
  <pre>
    <div class="ui top left attached ribbon label"><%= component.path %></div>
    <code id="code-section" class="<%= component.language %>"><%= yield %></code>
  </pre>
</div>
